@charset "utf-8";

html {
   background: rgb(116, 45, 154);
   font-family: Verdana, Geneva, sans-serif;
   height: 100%;
}

body {
   color: white;
   background-color: rgb(37, 8, 50);
   box-shadow: rgb(51, 51, 51) 10px 0px 40px, rgb(51, 51, 51) -10px 0px 40px;
   border-left: 1px solid rgb(149, 8, 128);
   border-right: 1px solid rgb(85, 3, 86);
   min-height: 100%;   
   margin: 0px auto;
   min-width: 800px;
   max-width: 1500px;     
   width: 100%;
}
body p {
   font-size: 1.2em;
   margin-left: 10px;
}
.logo {
   display: flex;
   justify-content: center;
   margin-bottom: 40px;
}

   .logo img {
       width: 200px;
       height: auto;
   }

            .twitter-follow-button {
   margin-left: 20px;
} 

#gameVids video {
   width: 800px;
   margin: 0 auto;
   padding: 20px;
}

/* Header styles */

header {
   background: linear-gradient(to right, rgb(251, 166, 254) 20%, rgb(73, 3, 86));
   border-bottom: 1px solid rgb(80, 3, 86);
}
h1 {
   margin-left: 10px;
}
header img#logoimg {
   display: block;
   margin: 0px auto;
   width: 100%;
}

/* Navigation list styles */

header nav ul {
   background: linear-gradient(to left, rgb(128, 44, 180) 20%, rgb(86, 3, 85)); 
   width: 97.7%;
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   list-style-type: none;
}
header nav ul li a:hover {
   background-color: rgb(4, 14, 20);
}

header nav ul li a {   
   display: block;
   color: white;
   padding: 12px 30px;
} 

/* Footer styles */   

footer {
   color: white;    
   background: linear-gradient(to bottom, rgb(54, 3, 86), black);
   font-size: 1em;  
   font-style: normal;
}

footer nav ul {
   float: left;
   padding: 30px;
   width: 25%;
}

footer nav ul a {
   color: white;
}

footer nav ul a:hover {
   text-decoration: underline;
}

footer::after {
   display: table;
   content: "";
   clear: both;
}

iframe{
   width: 1280px;
   height: 720px;
   margin: 0 auto;
   justify-content: center;
}

/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/
@media only screen and (max-width: 640px) {

   iframe{
   width: 640px;
   height: 360px;
   margin: 0 auto;
   justify-content: center;
}
  
   a#navicon {
      display: block;
   }
   
   header nav {
      padding-bottom: 15px;
   }
   
   header nav ul {
      display: none;
   }
   
   header nav ul li {
      font-size: 1em;
      line-height: 1.3em;
      height: 1.3em;
   }
   
   a#navicon:hover+ul, header nav ul:hover {
      display: block;
   }
   
   header img#logoimg {
      width: 100%;
   }
}

/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
@media only screen and (min-width: 641px) {

   
   
   header nav ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
   }
   
   header nav ul li {
      flex: 0 1 auto;
   }
}
